$max-width: 1200px;
$primary-color: #EF6D6D;
$secondary-color: rgba(230, 16, 16, 0.842);
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
$purple-color: #7706c2b7;
$bg-image: url(../img/bg2.jpg); 
